body{
	font-family: 'Lato', sans-serif;
	min-height: 100vh;
  	position: relative;
  	margin: 0;
  	padding-bottom: 100px;
  	box-sizing: border-box;
  	color: #545454;
  	background-color: #F8F8F8;
}

h1, h2, h3, h4, h5, h6{
	font-weight: 900;
}

li{
	list-style: none;
	display: inline;
}

.navbar-brand{
	font-weight: bold;
	letter-spacing: .05em;
}

.navbar{
	border-bottom: 1px solid #DCDCDC;
	font-weight: 400;
}

.nav-link:hover {
    color: #5cd3b4 !important;
}

.jumbotron{
	background-color: #5cd3b4;
	color: #fff;
	text-align: center;
	margin-top: 40px;
	border-radius: 6px;
}

.jumbotron h1{
	font-weight: 900;
}

.footer{
	margin-top: 25px;
}

.footer-links li a{
	opacity: .4;
	color: #000;
	text-decoration: none;
	margin-right: 25px;
}

.copyright{
	opacity: .4;
	color: #000;
	text-decoration: none;
}

/* jobpost form */
.form-control {
	border-color: #eee;
	min-height: 50px;
	box-shadow: none !important;
}
.form-control:focus {
	border-color: #5cd3b4;
}
.form-control, .btn {        
	border-radius: 5px;
}

.jobpost-form {
	width: 800px;
	margin: 0 auto;
	padding: 10px 0;
}

.jobpost-form form {
	color: #999;
	border-radius: 3px;
	margin-bottom: 15px;
	background: #fff;
	box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
	padding: 30px;
}

.jobpost-form h2 {
	color: #545454;
	margin: 0 0 10px 0;
	padding: 0 20px 5px 0;
	display: inline-block;
}

.jobpost-form .form-group row {
	margin-bottom: 20px;
}
.jobpost-form label {
	font-weight: normal;
	font-size: 14px;
	line-height: 2;
}
.jobpost-form input[type="checkbox"] {
	position: relative;
	top: 1px;
}
.jobpost-form .btn {        
	font-size: 16px;
	font-weight: bold;
	background: #5cd3b4;
	border: none;
	margin-top: 20px;
	min-width: 140px;
	border-radius: 25px;
}
.jobpost-form .btn:hover, .jobpost-form .btn:focus {
	background: #41cba9;
	outline: none !important;
}
.jobpost-form a {
	color: #5cd3b4;
	text-decoration: underline;
}

.jobpost-form p{
	font-size: 10pt;
	margin-bottom: 0px;
}

.jobpost-form a:hover {
	text-decoration: none;
}
.jobpost-form form a {
	color: #5cd3b4;
	text-decoration: none;
}	
.jobpost-form form a:hover {
	text-decoration: underline;
}
/* end jobpost form */

.card {
    height: 100%;
	display: flex;
}

.card-block {
	margin-top: 18px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.card.card-footer {
    align-self: flex-end;
    flex: 1 1 auto;
}

.card-job{
	background-color: #fff;
}

.card-job a{
	color: #fff;
	margin-bottom: 25px;
}

.featured{
	border-color: #5cd3b4;
}

.row{
	margin-top: 25px;
}

/* details */
.details{
	margin-top: 30px;
	width: 800px;
	margin: 0 auto;
	padding: 10px 0;

	color: #545454;
	border-radius: 3px;
	margin-top: 30px;
	margin-bottom: 15px;
	background: #fff;
	box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
	padding: 30px;
}

.details .btn {
	font-size: 18px;
	font-weight: bold;
	color: #fff;
	background: #5cd3b4;
	border: none;
	margin-top: 20px;
	margin-bottom: 30px;
	min-width: 140px;
	border-radius: 25px;
}

.details a {
	color: #5cd3b4;
	text-decoration: underline;
}

.details p{
	font-size: 14pt;
}

.details a:hover {
	text-decoration: none;
}
.details form a {
	color: #5cd3b4;
	text-decoration: none;
}	
.details form a:hover {
	text-decoration: underline;
}

.divider p {
	text-align: center;
	color: #5cd3b4;
	font-size: 35pt;
	font-weight: 900;
}

.claim p {
	font-size: 12pt;
	margin-bottom: 0px;
}
/* end details form */