{% extends 'base.html' %}

{% block title %}
Nomad Jobs
{% endblock %}

{% block content %}
<div class="container">
	<div class="jumbotron jumbotron-fluid">
		<div class="container">
			<h2>{{ category }}</h2>
		</div>
	</div>	
  	<div class="row">
  		{% for job in jobs %}
  		<div class="col-sm-3 mb-4">
			<div class="card card-job shadow-sm text-center">
				<div class="card-block">
					<div class="mb-1">
						<img src="{{ url_for('static', filename = 'uploads/' + job.file ) }}" alt="" class="img-fluid w-50 mb-2">
						<p>{{ job.companyName }}</p>
						<p>{{ job.category }}</p>
						<h6 class="card-title">{{ job.position }}</h6>
						<p>{{ job.jobType }} &#8226; ({{ job.region }})</p>
						<p>{{ job.salary }}</p>
						<a href="/details/{{ job.id }}" class="btn btn-sm btn-dark">Ver oferta</a>
					</div>
				</div>
				<div class="card-footer text-center">
		      		<small class="text-muted">{{ job.created.date() }}</small>
		   		</div>
			</div>
		</div>
		{% endfor %}
	</div>
</div>
{% endblock %}